@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Huflit <br />
    Quận 828 Sư Vạn Hạnh <br />
    <abbr title="Phone">P:</abbr>
    0902307569
</address>

<address>
    <strong>Support:</strong>   <a href="#">asai200155@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="#">asai200155@gmail.com</a>
</address>